@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}
.a{
  width: 200px;
  height: 70px;
  background-color: brown;
}
h2 {
  color: #6433FF;
}

h3 {
  color: #6433FF !important;
}

footer {
  padding: 20px;
  color: rgb(0, 0, 0);
  background-color: #9933FF;
}

nav a:hover {
  font-weight: bold;
}

.profile header {
  text-align: center;
}

footer {
  padding: 20px;
  color: rgb(0, 0, 0);
  background-color: #9933FF;
  text-align: center;
  font-weight: bold;
}

.image {
  width: 50%;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-left: 130px;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  margin-top: 30px;
}

.ketiga{
  width: 40%;
}

.profile img {
  width: 200px;
  height: 213px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  margin-left: 5px;
}
nav li {
  display: inline;
  list-style-type: none;
  margin-right: 20px;
}

.vendor{
  margin-left: 70%;
}

nav {
  background-color: #9933FF;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
}

main {
  padding: 20px;
  overflow: auto;
}

@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}

header {
  display: inline;
}

.besar::first-letter {
  font-size: 32px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.bulat {
  border-radius: 180px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: rgb(190, 51, 255);
  text-align: center;
  color: white;
}
